<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:dt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings dt:Transform="Replace">
        <add key="MyExample" value="My Test Example Value" />
        <add key="MyExample2" value="My Test Example Value2" />
        <add key="MyExample3" value="My Test Example Value3" />
        <add key="MyExample4" value="My Test Example Value4" />
    </appSettings>
</configuration>